


<header class="site-header flex flex--bet">
   
<nav class="gnav">
		<div class="gnav__menu flex flex--bet">
			<div class="left-box">
				<%= link_to "STAYbubbles", root_path, class: "gnav__menu__logo"  %>
			</div>
			<div class="right-box">
					<div class="gnav__menu__item">
					<%= link_to "新規投稿へ", new_bubble_path, class: "gnav__menu__item__link"  %>
					</div>
					<div class="gnav__menu__item">
					<%= link_to "マイページ", user_path(current_user.id), class: "gnav__menu__item__link"  %>
					</div>
					<div class="gnav__menu__item">
					<%= link_to "フォルダ一覧", folders_path, class: "gnav__menu__item__link" %>
					</div>
					<div class="gnav__menu__item">
					<%= link_to "イベント", events_path, class: "gnav__menu__item__link" %>
					</div>
					<div class="gnav__menu__item">
					<%= link_to "Bubble一覧に戻る", bubbles_path, class: "gnav__menu__item__link" %>
					</div>
			</div>
		</div>
</nav>
</header>

<div class="posts-box">
	<div class="posts-container">
		<% @folder.posts.each do |t| %>
			
		<div class="posts-box">
		
			<div class="posts">

				<div class="who">
					<% if Bubble.find(t.bubble_id).user.image %>
					<%= image_tag Bubble.find(t.bubble_id).user.image_url, class: "user_pic" %>
					<% else %>
					<%= image_tag "fu.jpg" %>
					<% end %>
					<div class="icon">
					<%= Bubble.find(t.bubble_id).user.name %>
					</div>
				</div>
			
				<%= Bubble.find(t.bubble_id).label %>
				<%= Bubble.find(t.bubble_id).link %>
				<%= Bubble.find(t.bubble_id).date %>
				<%= Bubble.find(t.bubble_id).content %>
				<%= image_tag Bubble.find(t.bubble_id).image_url, size: "250x200", class: "imagepic" if Bubble.find(t.bubble_id).image? %>
				<div class="indextitle">
				<%= strip_tags(Bubble.find(t.bubble_id).title).truncate(15) %>
				</div>
			</div>
	
			<div class="fbtn2-box">		
			<%= link_to post_path(t.id), method: :delete do %>
			<div  class= "fbtn2">
			<i class="fas fa-trash-alt"></i>
			</div>		
			<% end %>	
		</div>
		</div>
	<% end %>
	</div>
