

<header class="site-header flex flex--bet">
   
<nav class="gnav">
		<div class="gnav__menu flex flex--bet">
			<div class="left-box">
				<%= link_to "STAYbubbles", root_path, class: "gnav__menu__logo"  %>
			</div>
			<div class="right-box">
					<div class="gnav__menu__item">
					<%= link_to "新規投稿へ", new_bubble_path, class: "gnav__menu__item__link"  %>
					</div>
					<div class="gnav__menu__item">
					<%= link_to "マイページ", user_path(current_user.id), class: "gnav__menu__item__link"  %>
					</div>
					<div class="gnav__menu__item">
					<%= link_to "フォルダ一覧", folders_path, class: "gnav__menu__item__link" %>
					</div>
					<div class="gnav__menu__item">
					<%= link_to "イベント", events_path, class: "gnav__menu__item__link" %>
					</div>
					<div class="gnav__menu__item">
					<%= link_to "Bubble一覧に戻る", bubbles_path, class: "gnav__menu__item__link" %>
					</div>
			</div>
		</div>
</nav>
</header>


<div class="logo">

</div>

<div class="search-container">
 <%= form_tag('/bubbles', method: :get,action:"index",class: "search-box") do %>
   <%= text_field_tag :search,'', class: "search"
	 %>
	 <div class="btn5">
  <%= submit_tag "" %>
	 <div class="fasearch"><i class="fas fa-search fa-lg"></i>		</div>
	</div>
<% end %>

</div>

			<div class="bubbles-container">
				<% @bubbles.each do |b| %>

					<div class="bubble">
						<div class="who">
							
								<% if b.user.image %>
									<%= image_tag b.user.image_url, class: "user_pic" %>
								<% else %>
									<%= image_tag "fu.jpg" %>
								<% end %>
							
						<div class="icon">
							<p>	<%= b.user.name %></p>
							</div>
						</div>
						
						<%= image_tag b.image_url, size: "228x200", class: "imagepic" if b.image? %>
						<div class="indextitle"><%= strip_tags(b.title).truncate(15) %></div>
				
					
					
						<ul>
								<li class="btn"><i class="far fa-file-alt"></i>　<%= link_to " 詳細", bubble_path(b.id) %></li>
								<li
								<li class="btn"><i class="fas fa-folder-plus"></i><%= link_to "  フォルダ", controller: "posts", action:"new", id: b.id %></li>

								<% if user_signed_in? && current_user.id == b.user_id %> 

								<li class="btn"><i class="fas fa-pen"></i>　<%= link_to "  編集", edit_bubble_path(b.id) %></li>
								<li class="btn"><i class="fas fa-trash-alt"></i>　<%= link_to "  削除", bubble_path(b.id), method: :delete %></li>
							
								<% end %>							
						

						</ul>
					</div>

				
		
			<% end %>
	</div>

	