
<header class="site-header flex flex--bet">
   
<nav class="gnav">
		<div class="gnav__menu flex flex--bet">
			<div class="left-box">
				<%= link_to "STAYbubbles", root_path, class: "gnav__menu__logo"  %>
			</div>
			<div class="right-box">
					<div class="gnav__menu__item">
					<%= link_to "新規投稿へ", new_bubble_path, class: "gnav__menu__item__link"  %>
					</div>
					<div class="gnav__menu__item">
					<%= link_to "マイページ", user_path(current_user.id), class: "gnav__menu__item__link"  %>
					</div>
					<div class="gnav__menu__item">
					<%= link_to "フォルダ一覧", folders_path, class: "gnav__menu__item__link" %>
					</div>
					<div class="gnav__menu__item">
					<%= link_to "イベント", events_path, class: "gnav__menu__item__link" %>
					</div>
					<div class="gnav__menu__item">
					<%= link_to "Bubble一覧に戻る", bubbles_path, class: "gnav__menu__item__link" %>
					</div>
			</div>
		</div>
</nav>
</header>



<div class="bubble">
	<div class="showwho">
	<div class="in-showwho">
		<% if  @bubble.user.image %>
			<%= image_tag  @bubble.user.image_url, class: "user_pic" %>
		<% else %>
			<%= image_tag "fu.jpg" %>
		<% end %>

		<div class="showicon">
		<%=  @bubble.user.name %>
		</div>
		</div>

		<div class="created-at"><%= @bubble.created_at %></p>	</div>
	</div>
		<div class="mid-bubble">


	<div class="in-bubble">
			<p class="showtitle"><%= @bubble.title %></p>
			<p><i class="fas fa-play-circle"></i> <%= @bubble.label %></p>


			<p><i class="fas fa-link"></i>
			
		<% if @bubble.link.nil? %>
			 <%= @bubble.link %>
		<% else %>
		<%= Rinku.auto_link(@bubble.link, :all, 'target="_blenk"').html_safe %>
 		<% end %>
 		</p>

			<p><%= @bubble.date %></p>
			<p><%= @bubble.content %></p>
			<br>
		
			</div>
			<div class="showimg"><%= image_tag @bubble.image_url, class: "show-pic", size: "500x500" if @bubble.image? %></div>
		</div>
	</div>	

</div>
<br>
<br>
<br>
<br>

<% if user_signed_in? && current_user.id == @bubble.user_id %> 
<%= link_to "編集する", edit_bubble_path(@bubble.id) %>
<%= button_to "削除", bubble_path(@bubble.id), method: :delete  %>



<% end %>	