
<header class="site-header flex flex--bet">
   
<nav class="gnav">
		<div class="gnav__menu flex flex--bet">
			<div class="left-box">
				<%= link_to "STAYbubbles", root_path, class: "gnav__menu__logo"  %>
			</div>
			<div class="right-box">
					<div class="gnav__menu__item">
					<%= link_to "新規投稿へ", new_bubble_path, class: "gnav__menu__item__link"  %>
					</div>
					<div class="gnav__menu__item">
					<%= link_to "マイページ", user_path(current_user.id), class: "gnav__menu__item__link"  %>
					</div>
					<div class="gnav__menu__item">
					<%= link_to "フォルダ一覧", folders_path, class: "gnav__menu__item__link" %>
					</div>
					<div class="gnav__menu__item">
					<%= link_to "イベント", events_path, class: "gnav__menu__item__link" %>
					</div>
					<div class="gnav__menu__item">
					<%= link_to "Bubble一覧に戻る", bubbles_path, class: "gnav__menu__item__link" %>
					</div>
			</div>
		</div>
</nav>
</header>
<%= stylesheet_link_tag 'users.show', :media => "all" %>


<div class="my-logo-box">
<p class="my-logo">MY PAGE</p>
</div>
<div class="fandom">

<div class="fan">
		<div class="mypic">	
			<%= image_tag @user.image_url if @user.image? %>
		</div>

		<div class="name">	
			<%= @user.name %>
		</div>

</div>

	
	<div class="love">
		<div class="oshibi">
		<% if @user.oshibi != nil then %>
		<%= @date.to_i %>日</p>
		<% end %>
		</div>

		<div class="heart">			
			<h1 class="animate__animated animate__heartBeat animate__repeat-2"><i class="fas fa-heart fa-2x"></i></h1>
		</div>

		<div class="oshibibi">
		<% if @user.oshibi != nil then %>
		<%= @user.oshibi %>
		<% end %>
		</div>
	

	</div>

	<div class="angel">

		<div class="oshipic">
			<%= image_tag @user.oshiga_url if @user.oshiga? %>
		</div>

		<div class="oshi">	
		<% if @user.oshi != nil then %>
		<%= @user.oshi %>
		<% end %>

		</div>

	</div>

</div>

<div class="profiles-box">
			<div class="profiles">

					<div class="mypro">
					<h2 class="mypro2">MY PROFILE</h2>
						<div class="profile"> 
						<% if @user.profile != nil then %>
								<%= @user.profile %>
						<% end %>
						</div>
					</div>


					<div class="oshipro">
						<h2 class="oshipro2">推しPLOFILE</h2>
						<div class="oshiprofile"> 
					<% if @user.oshiprofile != nil then %>
					<%= @user.oshiprofile %>
					<% end %>
					</div>
			</div>
			</div>

				<div class="btn4-box">
				<% if current_user.id == @user.id %>
					<%= link_to "", edit_user_registration_path %>
				<% end %>
					<div  class= "btn4"><i class="fas fa-pen fa-lg"></i></div>		
				</div>

</div>




<div class="my-b">
<p class="my-bs">MY BUBBLES</p>
</div>

<div class="bubbles-container">

		<% @user.bubbles.each do |b| %>

					<div class="bubble">
						<div class="who">
							
								<% if b.user.image %>
									<%= image_tag b.user.image_url, class: "user_pic" %>
								<% else %>
									<%= image_tag "fu.jpg" %>
								<% end %>
							
						<div class="icon">
							<p>	<%= b.user.name %></p>
							</div>
						</div>
						
						<%= image_tag b.image_url, size: "228x200", class: "imagepic" if b.image? %>
						<div class="indextitle"><%= strip_tags(b.title).truncate(15) %></div>
				
					
					
						<ul>
								<li class="btn"><i class="far fa-file-alt"></i>　 <%= link_to "詳細 ", bubble_path(b.id) %></li>
								<li class="btn"><i class="fas fa-folder-plus"></i><%= link_to "  フォルダ", controller: "posts", action:"new", id: b.id %></li>

								<% if user_signed_in? && current_user.id == b.user_id %> 

								<li class="btn"><i class="fas fa-pen"></i>　<%= link_to "  編集 ", edit_bubble_path(b.id) %></li>
								<li class="btn"><i class="fas fa-trash-alt"></i>　<%= link_to "   削除 ", bubble_path(b.id), method: :delete %></li>
							
								<% end %>					
						</ul>
					</div>
			<% end %>
	</div>

	<div class="log-out">
		<% if user_signed_in? %>
			<%= link_to 'ログアウト', destroy_user_session_path, class: 'lg-btn', method: :delete %>
		<% end %>
		</div>

	